[submodule "st_hs"]
	path = st_hs
	url = https://github.com/ovcharenkodi/st_hs.git
[submodule "stepic-haskell"]
	path = stepic-haskell
	url = https://github.com/dstarcev/stepic-haskell.git
[submodule "Stepic-FP-Haskell"]
	path = Stepic-FP-Haskell
	url = https://github.com/AlexMckey/Stepic-FP-Haskell.git
